/* Remove margin and padding */
* {
    margin: 0;
    padding: 0;
}
/* Colour */
:root {
    --charcoal : rgb(102, 92, 92)
}
/* Style wrap-all: place the contents in the center */
.wrap-all{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* Style play-time font */
.play-time {
    font-size: 3rem;
    margin-top: 2rem;
    color: var(--charcoal);
}
/* Style puzzle image area and orientation */
ul {
    margin-top: 1rem;
    list-style: none;
    border: 2px solid var(--charcoal);
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

/* Style tiles */
li {
    width: 100px;
    height: 100px;
    color: #fff;
    background: url("https://picsum.photos/400")
}

/* Style button */
.start-button {
    background: var(--charcoal);
    color: #fff;
    border: none;
    padding: 1rem 2rem;
    margin-top: 1rem;
}

/* Style game text */
.game-text {
    position: absolute;
    font-size: 45px;
    color: green;
    text-shadow: 1px 1px rgba(0,0,0,0.5);
    display: none;
}

.list0 {
    background-position-x: 0px;
    background-position-y: 0px;
}

.list1 {
    background-position-x: -100px;
    background-position-y: 0px;
}

.list2 {
    background-position-x: -200px;
    background-position-y: 0px;
}

.list3 {
    background-position-x: -300px;
    background-position-y: 0px;
}

.list4 {
    background-position-x: 0px;
    background-position-y: -100px;
}

.list5 {
    background-position-x: -100px;
    background-position-y: -100px;
}

.list6 {
    background-position-x: -200px;
    background-position-y: -100px;
}

.list7 {
    background-position-x: -300px;
    background-position-y: -100px;
}

.list8 {
    background-position-x: 0px;
    background-position-y: -200px;
}


.list9 {
    background-position-x: -100px;
    background-position-y: -200px;
}

.list10 {
    background-position-x: -200px;
    background-position-y: -200px;
}

.list11 {
    background-position-x: -300px;
    background-position-y: -200px;
}

.list12 {
    background-position-x: 0px;
    background-position-y: -300px;
}

.list13 {
    background-position-x: -100px;
    background-position-y: -300px;
}

.list14 {
    background-position-x: -200px;
    background-position-y: -300px;
}

.list15 {
    background-position-x: -300px;
    background-position-y: -300px;
}

/* --------- Media queries */

@media (max-width: 414px) {
   
}


